html {

    font-family: "Times New Roman", serif;
}

body {

    background-color: #e6e6e6;
}

h1 {
    font-size: 1em;
    margin: 0px;
    border: 2px solid black;
    display: inline-block;
}

h2 {

    font-size: 3em;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

main {

    column-count: 3;
    margin: 10px 0px 0px 0px;
}

header > p {

    font-size: 1.6em;
    margin: 0px;
    text-align: center;
    font-weight: bold;
}

main h4 {

    font-size: 1.2em;       
}

p {

    font-size: 0.9em;
    text-indent: 20px;
    hyphens: auto;
}